*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(223, 223, 223);
    color: black;
    transition: .5s;
}

/*  --------------------- Dark/Light Mode ---------------------  */
.change-mode {
    background-color: #262626;
    color: rgb(196, 192, 192);
}

/*  --------------------- li Style ---------------------  */
li {
    list-style: none;  
}

/*  --------------------- a Style ---------------------  */
a:link, a:visited {
    text-decoration: none;
    color: (black);
}

/*  --------------------- Bagian Header --------------------- */
.header {
    background-color: sienna;
}

.header-logo {
    font-size: 40px;
    padding: 10px 20px 0px 40px;
}

.header p {
    padding: 0px 40px;
    padding-bottom: 5px;
    border-bottom: 3px solid rgb(90, 46, 26);
}

/*  --------------------- nav Style ---------------------  */
nav{
    width: 100%;
    background-color: sienna;
    display: flex;
    align-items: center;
}

nav ul{
    flex: 1;
    text-align: right;
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 15px;   
}

.nav ul li a{
    text-decoration: none;
    color: black;
}

.nav ul li a:hover{
    color: chocolate;
}

/*  --------------------- Index content Style ---------------------  */
.contents{
    display: fixed;
    top: 250px;
    margin: 30px;
    padding: 25px;
    text-align: left;
    font-family: serif;
    width: 93%;
}

.section-title {
    border-bottom: 2px solid grey;
    padding-bottom: 5px;
}

.contents-item{
    display: flex;
    margin-right: 0px;
    flex-wrap: wrap;
}

.contents-item p{
    font-size: 18px;
    margin: 5px 0px 0px 5px;
}

.contents-item a{
    text-decoration: none;
    color: black;
}

.contents-item a:hover{
    color: chocolate;
}

.card {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 215px;
    margin: 10px 10px;
}

.card:hover {
    box-shadow: 4px 8px 20px 4px rgba(0,0,0,0.2);
}

.title {
   padding: 1px 5px;
}

/*  --------------------- footer Style ---------------------  */
.footer{
    width: 100%;
    background-color: sienna;
    height: 65px;
}
.logo{
    padding-left: 10px;
    padding-right: 10px;
}

.footer nav ul{
    text-align: right;
    height: auto;
}

.footer nav ul li{
    display: inline-block;
    list-style: none;
    margin-right: 0px;   
}

.footer p{
    text-align: center;
}


